{% extends 'base.html.twig' %}

{% block title %}listen 🔊{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 id="header_status" style="text-align:center;font-size:70px" class="m-2 a_float">listen. 🔊</h1>
        <center><a href="{{path('loginPage')}}" class="btn btn-success my-3" style="width:200px" >Login with Spotify</a></center>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}
